footer{
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.meio_contato{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer{
    padding: 0 5%;
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .meio_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} 