@media screen and (min-width:769px){
    /* ***********NAVBAR*********** */
  .barra_menu {
    width: 100%;
    padding: 0 65px;
    height: 120px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
  }

  .menu_items {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }

  .barra_menu h1 {
    font-size: 40px;
  }

  header a {
    text-decoration: none;
    color: white;
  }

  .logo{
    height: 80px;
    width: 140px;
    margin-top: 5px;
  }


  /* ***********BANNER PRINCIPAL*********** */
  .banner {
    width: 100%;
  }

  /* ***********PAG PRINCIPAL*********** */

  .container_tabela{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #332f2f;
    color: white;
  }

  table tr td{
    border: 1px solid white;
  }

  .horario{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  /* *********IMG CONTAINER****************/

  .images-container{
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .images-container{
    display: grid;
    grid-template-areas: 
    "image1 image2"
    "image3 image4";
    grid-template-rows: 50% 50%;
    column-gap: 50px;
  }
  .images-container .img-home1{
    grid-area: image1;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
    transition: height 1s, width 1s;
  }

  .img-home1:hover{
    height: 190px;
    width: 300px;
  }

  .images-container .img-home2{
    grid-area: image2;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
    transition: height 1s, width 1s;
  }

  .img-home2:hover{
    height: 190px;
    width: 300px;
  }

  .images-container .img-home3{
    grid-area: image3;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
    transition: height 1s, width 1s;
  }

  .img-home3:hover{
    height: 190px;
    width: 300px;
  }

  .images-container .img-home4{
    grid-area: image4;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
    transition: height 1s, width 1s;
  }

  .img-home4:hover{
    height: 190px;
    width: 300px;
  }

  .images-container p {
    display: flex;
    justify-content: center;
    color: #D9D9D9;
    font-size: 16px;
    font: bold;
  }

  .about-us{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #332f2f;
    border-top: 1px solid gray;
  }

  .about-us p{
    font-size: 40px;
    color: white;
  }
}
/* ********* mobile *********/

@media screen and (max-width:480px){ 
  .barra_menu {
    width: 100%;
    padding: 0;
    height: 120px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 8px;
  }
  
  .menu_items {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  
  .barra_menu h1 {
    font-size: 40px;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  .logo{
    height: 40px;
    width: 70px;
    margin-top: 1px;
    padding: 0;
  }
  
  /* ***********BANNER PRINCIPAL*********** */
  .banner {
   width: 100%;
  }
  /**********Container tabela*****/

  .container_tabela{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #332f2f;
  }

  table tr td{
  border: 1px solid white;
  font-size: 13px;
  }

  .horario{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  }

  /* *********IMG CONTAINER****************/

  .images-container{
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .images-container{
   display: grid;
    grid-template-areas: 
    "image1"
    "image2"
    "image3"
    "image4";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
  }
  .images-container .img-home1{
    grid-area: image1;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home2{
    grid-area: image2;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home3{
    grid-area: image3;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home4{
    grid-area: image4;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container p {
    display: flex;
    justify-content: center;
    color: #D9D9D9;
    font-size: 16px;
    font: bold;
  }

  /* *********container about-us*********/

  .about-us{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #332f2f;
    border-top: 1px solid gray;
    border-bottom: 10px solid #332f2f;
  }

  .about-us p{
    font-size: 20px;
    color: white;
  }
}

/* *********tablet*********/

@media screen and (max-width:768px){ 
  .barra_menu {
    width: 100%;
    padding: 0;
    height: 120px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 8px;
  }
  
  .menu_items {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  
  .barra_menu h1 {
    font-size: 40px;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  .logo{
    height: 40px;
    width: 70px;
    margin-top: 1px;
    padding: 0;
  }
  
  /* ***********BANNER PRINCIPAL*********** */
  .banner {
    width: 100%;
  }
  /**********Container tabela*****/

  .container_tabela{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #332f2f;
    color: white;
  }

  table tr td{
    border: 1px solid white;
    font-size: 13px;
  }

  .horario{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  /* *********IMG CONTAINER****************/

  .images-container{
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .images-container{
    display: grid;
    grid-template-areas: 
    "image1"
    "image2"
    "image3"
    "image4";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
  }
  .images-container .img-home1{
    grid-area: image1;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home2{
    grid-area: image2;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home3{
    grid-area: image3;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container .img-home4{
    grid-area: image4;
    width: 300px;
    height: 150px;
    justify-content: stretch;
    align-content: stretch;
    border: 2px solid #D9D9D9;
  }

  .images-container p {
    display: flex;
    justify-content: center;
    color: #D9D9D9;
    font-size: 16px;
    font: bold;
  }

  /* *********container about-us*********/

  .about-us{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #332f2f;
    border-top: 1px solid gray;
    border-bottom: 10px solid #332f2f;
  }

  .about-us p{
    font-size: 20px;
    color: white;
  }
}