.barra_menu {
  width: 100%;
  padding: 0 65px;
  height: 120px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
}

.menu_items {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.barra_menu h1 {
  font-size: 40px;
}

header a {
  text-decoration: none;
  color: white;
}

.logo{
  height: 80px;
  width: 140px;
  margin-top: 5px;
}



.container_titles{
    width: 100%;
    height: 90px;
    background-color: #332f2f;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .container_titles h2{
    color: white;
    font-size: 26px;
    padding: 0 50px;
  }

  .container_servicos{
    width: 100%;
    height: 536px;
    background-color: #D9D9D9;
  }

  .categorias{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .categorias table{
    border: 2px solid gray;
  }

  .horarios{
    border: 2px solid gray;
    padding: 5px;
  }

  .images{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .images img{
    width: 272px;
    height: 180px;
  }

  .img_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img_box p{
    font-size: 23px;
    margin-top: 8px;
  }