@import "styles.css";

/********************** FOOTER  ***********************/
footer {
  background-color: black;
  color: white;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.meio_contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 0 5%;
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .meio_contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/********************** HOME ***********************/
@media screen and (min-width: 769px) {
  /* ***********NAVBAR*********** */
  .barra_menu {
    width: 100%;
    padding: 0 65px;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray; }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    height: auto; }
  header a {
    text-decoration: none;
    color: white; }
  .logo {
    height: 80px;
    width: 140px;
    margin-top: 5px; }
  /* ***********BANNER PRINCIPAL*********** */
  #carouselExampleIndicators {
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid; }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 410px; }
  /**********Card container*****/
  .container-card {
    padding: 2%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray; }
  .container-card {
    display: grid;
    grid-template-areas: "card1 card2 card3 card4";
    column-gap: 4%; }
  .container-card .card {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid gray; }
  .container-card .card h5 {
    font-size: 20px; }
  .container-card .card .card-text {
    font-size: 17px; }
  .card-img {
    padding: 5%;}
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; } 
  
  .container-serviços{
    display: flex;
    flex-direction: column;
    background-color: #332f2f;
  }
  
  .container-serviços h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    text-decoration: underline;
  }
  
  .container-serviços p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 17px;
  }
  
  .container-serviços ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
  }
  
  .container-serviços .serviços{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid gray;
  }
  .container-serviços .serviços .img--serviços img{
    height: 100%;
    width: 100%;
  }
  .container-serviços .serviços .descrição{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-serviços .serviços .img--serviços{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  } 

  /**********CONTATO*******/
  .forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tit_contato {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold; }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: bold; }
  input {
    border-radius: 10px;
    margin: 0px 10px; }
  .description {
    width: 100%;
    height: 80px;
    margin-bottom: 40px; }
  #first_name,
  #last_name,
  #email {
    width: 100%;
    height: 40px; }
  .button {
    width: 175px;
    height: 60px; }
  .flex_botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .container_forms {
    width: 100%;
    height: 100%;
    margin: 50px 25px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;} 
  /********************** SOBRE ***********************/
  .sobre {
    background-color: #332f2f;
    color: white;
    border-bottom: 50px solid #332f2f ;
  }

  .sobre .descrição-sobre{
    padding: 40px;
  }

  .sobre .img-sobre img {
    width: 100%;
    height: 100%;
  }

  .sobre .descrição-sobre h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 35px;
    text-decoration: underline;
  }

  .sobre .descrição-sobre p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 17px;
  }

/* *********AGENDAMENTO*******/
  .container_agendamento img {
    width: 80%;
    height: 80%; }
  .container_agendamento {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9; 
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
  }
  .img_calendario {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .horarios2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
  }
  .horarios2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}

/* ********* mobile *********/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .barra_menu {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray; }
  .container-fluid {
    display: flex;
    margin-right: auto; }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px; }
  header a {
    text-decoration: none;
    color: white; }
  .logo {
    height: 80px;
    width: 140px;
    margin-top: 5px; }
  /* ***********BANNER PRINCIPAL*********** */
  #carouselExampleIndicators {
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid #332f2f; }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 175px; }
  /**********Card container*****/
  .container-card {
    padding: 2%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid gray; }
  .container-card {
    display: grid;
    grid-template-areas: "card1" 
 "card2"
 "card3" 
 "card4";
    column-gap: 80px;
    row-gap: 25px; }
    .container-card .card {
      background-color: lightgray;
      font-family: 'Times New Roman', Times, serif;
      border: 2px solid gray; }
    .container-card .card h5 {
      font-size: 20px; }
    .container-card .card .card-text {
      font-size: 17px; }
    .card-img {
      padding: 5%;}
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }

    /**********SERVIÇOS*******/
  .container-serviços{
      display: flex;
      flex-direction: column;
      background-color: #332f2f;
  }
  
  .container-serviços h2{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      text-decoration: underline;
  }
  
  .container-serviços p{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 12px;
  }
  
  .container-serviços ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
  }
  
  .container-serviços .serviços{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 5px;
      border-bottom: 2px solid gray;
  }
  .container-serviços .serviços .img--serviços img{
      height: 100%;
      width: 100%;
  }
  .container-serviços .serviços .descrição{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .container-serviços .serviços .img--serviços{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
  }
  /*******CONTATO*******/
  .forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tit_contato {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold; }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: bold; }
  input {
    border-radius: 10px;
    width: 100%; }
  .description {
    width: 100%;
    height: 60%;
    margin-bottom: 10%; }
  #first_name,
  #last_name,
  #email,
  #description {
    width: 70%;
    height: 30px; }
  .button {
    width: 80%;
    height: 30%; }
  .flex_botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }
  .container_forms {
    width: 100%;
    height: 100%;
    margin: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  /********************** SOBRE ***********************/
  .sobre {
    background-color: #332f2f;
    color: white;
    border-bottom: 50px solid #332f2f ;
  }

  .sobre .descrição-sobre{
    padding: 40px;
  }

  .sobre .img-sobre img {
    width: 100%;
    height: 100%;
  }

  .sobre .descrição-sobre h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 28px;
    text-decoration: underline;
  }

  .sobre .descrição-sobre p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 12px;
  }

  /* *********AGENDAMENTO*******/
  .container_agendamento img {
    width: 80%;
    height: 80%; }
  .container_agendamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9; 
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }
  .img_calendario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .horarios2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    margin-top: 20PX;
  }
  .horarios2 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 50%;
    height: 100%;
  }
}

/* *********tablet*********/
@media screen and (min-width: 480px) and (max-width: 768px) {
  .barra_menu {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray; }
  .container-fluid {
    display: flex;
    margin-right: auto; }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px; }
  header a {
    text-decoration: none;
    color: white; }
  .logo {
    height: 80px;
    width: 140px;
    margin-top: 5px; }
  /* ***********BANNER PRINCIPAL*********** */
  #carouselExampleIndicators {
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid #332f2f; }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 325px; }
  /**********Card container*****/
  .container-card {
    padding: 5%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid gray; }
  .container-card {
    display: grid;
    grid-template-areas: 
    "card1 card2"
    "card3 card4";
    column-gap: 2%;
    row-gap: 2%; }
  .container-card .card {
      background-color: lightgray;
      font-family: 'Times New Roman', Times, serif;
      border: 2px solid gray; }
  .container-card .card h5 {
      font-size: 20px; }
  .container-card .card .card-text {
      font-size: 17px; }
  .card-img {
      padding: 5%;}
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }

    /**********SERVIÇOS*******/
  .container-serviços{
      display: flex;
      flex-direction: column;
      background-color: #332f2f;
  }
  
  .container-serviços h2{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      text-decoration: underline;
  }
  
  .container-serviços p{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 12px;
  }
  
  .container-serviços ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
  }
  
  .container-serviços .serviços{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 5px;
      border-bottom: 2px solid gray;
  }
  .container-serviços .serviços .img--serviços img{
      height: 100%;
      width: 100%;
  }
  .container-serviços .serviços .descrição{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .container-serviços .serviços .img--serviços{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
  }

/**********CONTATO*******/
  .forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tit_contato {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold; }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: bold; }
  input {
    border-radius: 10px;
    margin: 0px 10px; }
  .description {
    width: 100%;
    height: 80px;
    margin-bottom: 40px; }
  #first_name,
  #last_name,
  #email {
    width: 100%;
    height: 40px; }
  .button {
    width: 175px;
    height: 60px; }
  .flex_botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }
  .container_forms {
    width: 100%;
    height: 100%;
    margin: 50px 25px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  /********************** SOBRE ***********************/
  .sobre {
    background-color: #332f2f;
    color: white;
    border-bottom: 50px solid #332f2f ;
  }

  .sobre .descrição-sobre{
    padding: 40px;
  }

  .sobre .img-sobre img {
    width: 100%;
    height: 100%;
  }

  .sobre .descrição-sobre h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 35px;
    text-decoration: underline;
  }

  .sobre .descrição-sobre p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 17px;
  }

  /* *********AGENDAMENTO*******/
  .container_agendamento img {
    width: 80%;
    height: 80%; }
  .container_agendamento {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9; 
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
  }
  .img_calendario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .horarios2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
  }
  .horarios2 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: 100%;
  }
}
