@import "styles.css";

/********************** AGENGAMENTO ***********************/
@media screen and (min-width:769px) {
  .barra_menu {
      width: 100%;
      padding: 0 65px;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
  }

  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
  }

  .menu_items {
      text-decoration: none;
      color: white;
      padding: 0 10px;
  }

  .barra_menu h1 {
      font-size: 40px;
  }

  header a {
      text-decoration: none;
      color: white;
  }

  .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
  }

  .container_titles{
      width: 100%;
      height: 90px;
      background-color: #332f2f;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }

  .container_titles h2{
      color: white;
      font-size: 26px;
      padding: 0 50px;
  }

  .container_agendamento img{
      width: 80%;
      height: 80%;
  }

  .container_agendamento {
      display: flex;
      width: 100%;
      height: 486px;
      background-color: #D9D9D9;
  }

  .img_calendario {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .horarios2{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
}
  /********************** CONTATO***********************/
  @media screen and (min-width:769px){
    .barra_menu {
      width: 100%;
      padding: 0 65px;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
    }
  
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
    }
  
    .forms {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .tit_contato {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
    }
  
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      margin-top: 35px;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    input {
      border-radius: 10px;
      margin: 0px 10px;
    }
  
    .description {
      width: 100%;
      height: 80px;
      margin-bottom: 40px;
    }
  
    #first_name,
    #last_name,
    #email {
      width: 100%;
      height: 40px;
    }
  
    .button {
      width: 175px;
      height: 60px;
    }
  
    .flex_botoes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
  
    .container_forms {
      width: 100%;
      height: 100%;
      margin: 50px 25px 50px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  /**********Mobile*************/
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .barra_menu {
      width: 100%;
      padding: 0 5%;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
    }
  
    .container-fluid {
      display: flex;
      margin-right: auto;
    }
    
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
    }
    
    
    header a {
      text-decoration: none;
      color: white;
    }
    
    .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
    }
    
    .forms {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .tit_contato {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
    }
    
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      margin-top: 35px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input {
      border-radius: 10px;
      width: 100%;
    }
    
    .description {
      width: 100%;
      height: 60%;
      margin-bottom: 10%;
    }
    
    #first_name,
    #last_name,
    #email,
    #description {
      width: 70%;
      height: 30px;
    }
    
    .button {
      width: 80%;
      height: 30%;
    }
    
    .flex_botoes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    
    .container_forms {
      width: 100%;
      height: 100%;
      margin: 2px 2px 2px 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /**********Tablet************/
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .barra_menu {
      width: 100%;
      padding: 0 65px;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
    }
    
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
    }
    
    header a {
      text-decoration: none;
      color: white;
    }
    
    .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
    }
    
    .forms {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .tit_contato {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
    }
    
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      margin-top: 35px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input {
      border-radius: 10px;
      margin: 0px 10px;
    }
    
    .description {
      width: 100%;
      height: 80px;
      margin-bottom: 40px;
    }
    
    #first_name,
    #last_name,
    #email {
      width: 100%;
      height: 40px;
    }
    
    .button {
      width: 175px;
      height: 60px;
    }
    
    .flex_botoes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    
    .container_forms {
      width: 100%;
      height: 100%;
      margin: 50px 25px 50px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  /********************** FOOTER  ***********************/
  footer{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .meio_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    footer{
      padding: 0 5%;
      background-color: black;
      color: white;
      height: 200px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .meio_contato{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  } 

  /********************** HOME ***********************/

  @media screen and (min-width:769px){
    /* ***********NAVBAR*********** */
  .barra_menu {
    width: 100%;
    padding: 0 65px;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    height: auto;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  .logo{
    height: 80px;
    width: 140px;
    margin-top: 5px;
  }
  
  
  /* ***********BANNER PRINCIPAL*********** */
  .banner {
    width: 100%;
    height: 100%;
  }
  
  #carouselExampleIndicators{
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid;
  }
  
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 410px;
  }
  
  /**********Card container*****/
  
  .container-card {
    padding: 2%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
  }
  
  .container-card {
    display: grid;
    grid-template-areas: 
    "card1 card2 card3 card4";
    column-gap: 4%;
  }
  
  container-card {
    &--card {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid gray;
    }
  }
  
  
  container-card {
    &--card{ 
      &--h5 {
    font-size: 20px;
      }
    }
  }
  
  container-card {
    &--card{
      &--card-text {
    font-size: 17px;
      }
    }
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  }
  /* ********* mobile *********/
  
  @media screen and (min-width:320px) and (max-width:480px){ 
  .barra_menu {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }
  
  .container-fluid {
    display: flex;
    margin-right: auto;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
  }
  
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  .logo{
    height: 80px;
    width: 140px;
    margin-top: 5px;
  }
  
  
  /* ***********BANNER PRINCIPAL*********** */
  .banner {
   width: 100%;
  }
  
  #carouselExampleIndicators{
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid #332f2f;
  }
  
  carousel-inner {
    &--carousel-item {
      &--img {
    width: 100%;
    height: 175px;
      }
    }
  }
  
  /**********Card container*****/
  
  .container-card {
    padding: 2%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid gray;
  }
  
  .container-card {
    display: grid;
    grid-template-areas: 
    "card1" 
    "card2"
    "card3" 
    "card4";
    column-gap: 80px;
    row-gap: 25px;
  }
  
  container-card {
    &--card {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    border: 2px solid gray;
    }
  }
  
  container-card {
    &--card{
      &--h5 {
    font-size: 20px;
      }
    }
  }
  
  container-card {
    &--card{
      &--card-text {
    font-size: 17px;
      }
    }
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  }
  
  /* *********tablet*********/
  
  @media screen and (min-width:480px) and (max-width:768px) { 
  .barra_menu {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
  }
  
  .container-fluid {
    display: flex;
    margin-right: auto;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
  }
  
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  .logo{
    height: 80px;
    width: 140px;
    margin-top: 5px;
  }
  
  
  /* ***********BANNER PRINCIPAL*********** */
  .banner {
    width: 100%;
  }
  
  #carouselExampleIndicators{
    padding: 0 5%;
    background-color: #332f2f;
    border-top: 2px solid #332f2f;
  }
  
  carousel-inner {
    &--carousel-item{
      &--img {
    width: 100%;
    height: 325px;
      }
    }
  }
  
  /**********Card container*****/
  
  .container-card {
    padding: 5%;
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid gray;
  }
  
  .container-card {
    display: grid;
    grid-template-areas: 
    "card1 card2"
    "card3 card4";
    column-gap: 2%;
    row-gap: 2%;
  }
  
  container-card {
    &--card {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    }
  }
  
  container-card {
    &--card{
      &--h5 {
    font-size: 20px;
      }
    }
  }
  
  container-card {
    &--card {
      &--card-text {
    font-size: 17px;
      }
    }
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  }

  /********************** SERVICOS ***********************/

  @media screen and (min-width:769px) {
    .barra_menu {
      width: 100%;
      padding: 0 65px;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
    }
  
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
    }
  
  
  
    .container_titles{
      width: 100%;
      height: 90px;
      background-color: #332f2f;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  
    .container_titles h2{
      color: white;
      font-size: 26px;
      padding: 0 50px;
    }
  
    .container_servicos{
      width: 100%;
      height: 100%;
      background-color: #D9D9D9;
    }
  
    .categorias{
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .categorias table{
      border: 2px solid gray;
    }
  
    .horarios{
      border: 2px solid gray;
      padding: 5px;
    }
  
    .images{
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .images img{
      width: 272px;
      height: 180px;
    }
  
    .img_box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .img_box p{
      font-size: 23px;
      margin-top: 8px;
    }
  }

  /********************** SOBRE ***********************/
  @media screen and (min-width:769px) {
  .barra_menu {
      width: 100%;
      padding: 0 65px;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid gray;
    }
  
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    .container_titles h2 {
      color: white;
      font-size: 26px;
      padding: 0 50px;
    }
  
    .container_titles {
      background-color:#332f2f;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 90px;
    }
  
    .logo{
      height: 80px;
      width: 140px;
      margin-top: 5px;
    }
    
  .img_about{
      width: 50%;
      height: 100%;
    }
    .img_about img{
      width: 100%;
      height: 100%;
    }
    .container_about{
      width: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      margin: 25px;
      height: 100%;
    }
    .container_sobre{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 340px;
    }
    .images_sobre{
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }